*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will predict healthcare costs using a regression algorithm.

You are given a dataset that contains information about different people including their healthcare costs. Use the data to predict healthcare costs based on new data.

The first two cells of this notebook import libraries and the data.

Make sure to convert categorical data to numbers. Use 80% of the data as the `train_dataset` and 20% of the data as the `test_dataset`.

`pop` off the "expenses" column from these datasets to create new datasets called `train_labels` and `test_labels`. Use these labels when training your model.

Create a model and train it with the `train_dataset`. Run the final cell in this notebook to check your model. The final cell will use the unseen `test_dataset` to check how well the model generalizes.

To pass the challenge, `model.evaluate` must return a Mean Absolute Error of under 3500. This means it predicts health care costs correctly within $3500.

The final cell will also predict expenses using the `test_dataset` and graph the results.

In [2]:
!pip install -q git+https://github.com/tensorflow/docs

In [3]:
# Import libraries. You may or may not use all of these.
#!pip install -q git+https://github.com/tensorflow/docs
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [5]:
pwd

'd:\\INPT2\\Machine Learning\\freeCodeCamp_Project\\2nd fcc_predict_health_costs_with_regression'

In [23]:
# Import data
#!wget https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv
dataset = pd.read_csv('..\data\\fcc_predict_health_costs_with_regression\insurance.csv')
dataset.tail()

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

#### Since the data has some text columns, we need to convert the text values to numeric.

In [24]:
df = dataset
df["sex"] = pd.factorize(df["sex"])[0]
df["region"] = pd.factorize(df["region"])[0]
df["smoker"] = pd.factorize(df["smoker"])[0]
dataset = df
dataset.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       0       0  16884.92
1   18    1  33.8         1       1       1   1725.55
2   28    1  33.0         3       1       1   4449.46
3   33    1  22.7         0       1       2  21984.47
4   32    1  28.9         0       1       2   3866.86

#### Let's pick randomly 20% record to make our test_dataset and train dataset

In [15]:
from sklearn.model_selection import train_test_split

In [31]:
df=dataset.copy()
y_labels= pd.DataFrame(df.pop("expenses"))
X_dataSet= df

In [32]:
print(X_dataSet.head())
print(y_labels.head())

   age  sex   bmi  children  smoker  region
0   19    0  27.9         0       0       0
1   18    1  33.8         1       1       1
2   28    1  33.0         3       1       1
3   33    1  22.7         0       1       2
4   32    1  28.9         0       1       2
   expenses
0  16884.92
1   1725.55
2   4449.46
3  21984.47
4   3866.86

In [ ]:
X_train, y_train, X_test, y_test = train_test_split(X_dataSet,y_labels,test_size=0.2,random_state=27)

In [ ]:
# RUN THIS CELL TO TEST YOUR MODEL. DO NOT MODIFY CONTENTS.
# Test model by checking how well the model generalizes using the test set.
loss, mae, mse = model.evaluate(test_dataset, test_labels, verbose=2)

print("Testing set Mean Abs Error: {:5.2f} expenses".format(mae))

if mae < 3500:
  print("You passed the challenge. Great job!")
else:
  print("The Mean Abs Error must be less than 3500. Keep trying.")

# Plot predictions.
test_predictions = model.predict(test_dataset).flatten()

a = plt.axes(aspect='equal')
plt.scatter(test_labels, test_predictions)
plt.xlabel('True values (expenses)')
plt.ylabel('Predictions (expenses)')
lims = [0, 50000]
plt.xlim(lims)
plt.ylim(lims)
_ = plt.plot(lims,lims)